<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="personel_kayıt_projesi.Properties.Settings.personel_kayıt_projesiConnectionString"
            connectionString="Data Source=DESKTOP-O9RRR03;Initial Catalog=personel_kayıt_projesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="personel_kayıt_projesi.Properties.Settings.PersonelVeriTabaniConnectionString"
            connectionString="Data Source=DESKTOP-O9RRR03;Initial Catalog=PersonelVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>